<!DOCTYPE html>
<html layout:decorate="~{base}">
    <head>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
        <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
        <script type="text/javascript" src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>
        <title>7Bus - Главная страница</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div id="map" class="map">
            </div>
            <div id="markersContent">
                <!-- markers content is in markers.html -->
            </div>
        
            <script th:inline="javascript">
                var map = new ol.Map({
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    target: 'map',
                    view: new ol.View({
                        center: new ol.proj.fromLonLat([83.7625, 53.3502]),
                        zoom: 14
                    })
                });
                
                //image style
                var icon = new ol.style.Icon(({
                    src: "/resources/img/bus.png"
                }));
                icon.load();
                
                //triangle style
                //var stroke = new ol.style.Stroke({color: 'red', width: 1});
                //var fill = new ol.style.Fill({color: 'yellow'});
                
                var imageStyle = new ol.style.Style({
                    /*image: new ol.style.RegularShape({
                        fill: fill,
                        stroke: stroke,
                        points: 3,
                        radius: 15,
                        //rotation: dir * (Math.PI / 180),
                        angle: 0
                    }),*/
                    image: icon
                });
                
                //circle style
                /*
                var imageStyle = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 12,
                        snapToPixel: false,
                        fill: new ol.style.Fill({color: 'yellow'}),
                        stroke: new ol.style.Stroke({color: 'red', width: 1})
                    })
                });*/
            </script>
        </section>
    </body>
</html>