<!DOCTYPE html>
<html layout:decorate="~{base}">
    <head>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
        <script type="text/javascript" src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
        <title>7Bus - Главная страница</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div id="map" class="map">
            </div>
            <div id="stationsContent">
                <table style="display: none">
                    <tbody id="stations-body">
                        <tr th:if="${stations.empty}">
                            <td>No stations</td>
                        </tr>
                        <tr th:each="station : ${stations}" th:data-sid="${station.stationId}" th:data-type="${station.stationType}" th:data-lat="${station.latitude}" th:data-lon="${station.longtitude}">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="markersContent">
                <!-- markers content is in markers.html -->
            </div>
            
            <!-- Forecast modal window -->
            <div id="forecastModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" id="forecastContent">
                        <!-- forecast content in in forecastModal.html -->
                    </div>
                </div>
            </div>
        
            <script th:inline="javascript">
                var iconStyleStation = new ol.style.Style({
                    image: new ol.style.Icon(({
                        src: "/resources/img/station.png"
                    }))
                });

                var vectorSource = new ol.source.Vector({});
                
                //Preparing station markers
                $("#stations-body").children().each(function(index){
                    var lat = $(this).data("lat");
                    var lon = $(this).data("lon");
                    
                    var iconFeature = new ol.Feature({
                        geometry: new ol.geom.Point(new ol.proj.fromLonLat([lon / 1000000, lat / 1000000])),
                        population: 4000,
                        rainfall: 500
                    });
                    iconFeature.set('station_id', $(this).data("sid"));
                    iconFeature.set('station_type', $(this).data("type"));
                    iconFeature.setStyle(iconStyleStation);
                    
                    vectorSource.addFeature(iconFeature);
                });
                
                var vectorLayer = new ol.layer.Vector({
                    source: vectorSource
                });
                
                //Preparing map entity
                var map = new ol.Map({
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        }),
                        vectorLayer
                    ],
                    target: 'map',
                    view: new ol.View({
                        center: new ol.proj.fromLonLat([83.7625, 53.3502]),
                        zoom: 14
                    })
                });
                
                //Preparing vehicle icons
                var iconBus = new ol.style.Icon(({
                    src: "/resources/img/bus.png"
                }));
                iconBus.load();
                
                var iconMinibus = new ol.style.Icon(({
                    src: "/resources/img/minibus.png"
                }));
                iconMinibus.load();
                
                var iconTramway = new ol.style.Icon(({
                    src: "/resources/img/tramway.png"
                }));
                iconTramway.load();
                
                var iconTrolleybus = new ol.style.Icon(({
                    src: "/resources/img/trolleybus.png"
                }));
                iconTrolleybus.load();
                
                //Preparing vehicle image styles
                var imageStyleBus = new ol.style.Style({
                    image: iconBus
                });
                
                var imageStyleMinibus = new ol.style.Style({
                    image: iconMinibus
                });
                
                var imageStyleTramway = new ol.style.Style({
                    image: iconTramway
                });
                
                var imageStyleTrolleybus = new ol.style.Style({
                    image: iconTrolleybus
                });
                
                //Modal show event
                map.on('click', function(evt) {
                    var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
                        return feature;
                    });
                    if (feature) {
                        showForecast(feature.get('station_id'), feature.get('station_type'));
                    }
                });
                
                //Hide stations on zoom level
                map.on('moveend', function(e) {
                    zoom = map.getView().getZoom();
                    if (zoom >= 16) {
                        vectorLayer.setVisible(true);
                    }
                    else {
                        vectorLayer.setVisible(false);
                    }
                });
                
                //Show vehicle markers on map
                map.on('postcompose', function(event) {
                    var vectorContext = event.vectorContext;
                    $("#vehicles-body").children().each(function(index){
                        var lat = $(this).data("lat");
                        var lon = $(this).data("lon");
                        var rnum = $(this).data("route");
                        var dir = $(this).data("dir");
                        var routeType = $(this).data("route-type");

                        var imageStyle;
                        switch(routeType) {
                            case "А":
                                imageStyle = imageStyleBus;
                                break;
                            case "М":
                                imageStyle = imageStyleMinibus;
                                break;
                            case "Т":
                                imageStyle = imageStyleTrolleybus;
                                break;
                            case "Тр":
                                imageStyle = imageStyleTramway;
                                break;
                            default:
                                break;
                        }

                        imageStyle.getImage().setRotation(dir * (Math.PI / 180));

                        var coordinates = [];
                        coordinates.push(new ol.proj.fromLonLat([lon / 1000000, lat / 1000000]));

                        imageStyle.setText(new ol.style.Text({ font: '18px sans-serif', text: rnum}));
                        vectorContext.setStyle(imageStyle);
                        vectorContext.drawGeometry(new ol.geom.MultiPoint(coordinates));
                    });
                    map.render();
                });
                
                //Show forecast modal window
                function showForecast(stationId, stationType) {
                    url = /*[[@{/forecast?stationId=}]]*/;
                    $("#forecastContent").load(url + stationId + "&stationType=" + stationType);
                    $("#forecastModal").modal('show');
                }
            </script>
        </section>
    </body>
</html>