<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
    </head>

    <body>
        <div th:fragment="content">
            <table style="display: none">
                <tbody id="vehicles-body">
                    <tr th:if="${vehicles.empty}">
                        <td>No vehicles</td>
                    </tr>
                    <tr th:value="${vehicle.regNumber}" th:each="vehicle : ${vehicles}" th:data-lat="${vehicle.latitude}" th:data-lon="${vehicle.longtitude}">
                        <!--<td th:text="${vehicle.regNumber}"></td>-->
                    </tr>
                </tbody>
                
            </table>

            <script th:inline="javascript">
                $(document).ready(function(){
                    map.on('postcompose', function(event) {
                        var vectorContext = event.vectorContext;
                        $("#vehicles-body").children().each(function(index){
                            var lat = $(this).data("lat");
                            var lon = $(this).data("lon");
                            //console.log(lat + " " + lon);
                            //var arr = [lon / 1000000, lat / 1000000];
                            var coordinates = [];
                            coordinates.push(new ol.proj.fromLonLat([lon / 1000000, lat / 1000000]));
                            
                            vectorContext.setStyle(imageStyle);
                            vectorContext.drawGeometry(new ol.geom.MultiPoint(coordinates));
                            //console.log(coordinates);
                        });
                        //console.log(new ol.proj.fromLonLat([83.7625, 53.3502]));
                        
                        
                        
                        //var tmp = Math.random() / 1000;

                        //coordinates.push(new ol.proj.fromLonLat([83.7625+ tmp, 53.3502+ tmp]));

                        //vectorContext.setStyle(imageStyle);
                        //vectorContext.drawGeometry(new ol.geom.MultiPoint(coordinates));

                        map.render();
                    });
                    //map.render();
                });
            </script>


        </div>
    </body>
</html>