<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
    </head>

    <body>
        <div th:fragment="content">
            <table style="display: none">
                <tbody id="vehicles-body">
                    <tr th:if="${vehicles.empty}">
                        <td>No vehicles</td>
                    </tr>
                    <tr th:value="${vehicle.regNumber}" th:each="vehicle : ${vehicles}" 
                        th:data-dir="${vehicle.dir}" th:data-route="${vehicle.routeNumber}" 
                        th:data-lat="${vehicle.latitude}" th:data-lon="${vehicle.longtitude}"
                        th:data-route-type="${vehicle.routeType}">
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>